<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Teach-A-Student,Teacher <%= @user.first_name %></h1>
     <p> You have successfully signed up to Teach-A-Student</p>
    <p>We are here to empower children to dream big and aim high</p>
     <p> Your username is:<strong> <%= @user.user_name %> </strong></p>
     <p>You have a very important job of tutoring these students.Please do it to the best of your ability</p>
    <p>Once again,Thanks for joining and have a great day!</p>
  </body>
</html>